body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
}

.chat-container {
  width: 400px;
  margin-top: 50px;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

#chatBox {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.user {
  color: #38bdf8;
}

.bot {
  color: #22c55e;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  color: white;
  cursor: pointer;
}
